<!-- <div *ngFor="let empleado of empleados" >
<div>{{ empleado.nombre }}</div>
<div>{{ empleado.cedula }}</div>
<div>{{ empleado.edad }}</div>
</div> -->


<table class="table table-success table-striped">
  <thead>
  <tr>
    <th scope="col">Item</th>
    <th scope="col">Nombre</th>
    <th scope="col">Cedula</th>
    <th scope="col">Edad</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let empleado of empleados; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>      {{ empleado.nombre }}    </td>
    <td>      {{ empleado.cedula }}    </td>
    <td>      {{ empleado.edad }}    </td>

  </tr>
  </tbody>
</table>
